QuanLyQuanCafe/QuanLyCafe/Service References/KetNoiDichVuStaff/ServiceStaff.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceStaff" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54856/Services/ServiceStaff.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54856/Services/ServiceStaff.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54856/Services/ServiceStaff.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://localhost:54856/Services/ServiceStaff.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/QuanLyQuanCafe.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceStaff_GetStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStaff" />
  </wsdl:message>
  <wsdl:message name="IServiceStaff_GetStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStaffResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStaff_AddStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStaff" />
  </wsdl:message>
  <wsdl:message name="IServiceStaff_AddStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStaffResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStaff_UpdateStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStaff" />
  </wsdl:message>
  <wsdl:message name="IServiceStaff_UpdateStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStaffResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStaff_DeleteStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStaff" />
  </wsdl:message>
  <wsdl:message name="IServiceStaff_DeleteStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStaffResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceStaff">
    <wsdl:operation name="GetStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStaff/GetStaff" message="tns:IServiceStaff_GetStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStaff/GetStaffResponse" message="tns:IServiceStaff_GetStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStaff/AddStaff" message="tns:IServiceStaff_AddStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStaff/AddStaffResponse" message="tns:IServiceStaff_AddStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStaff/UpdateStaff" message="tns:IServiceStaff_UpdateStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStaff/UpdateStaffResponse" message="tns:IServiceStaff_UpdateStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStaff/DeleteStaff" message="tns:IServiceStaff_DeleteStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStaff/DeleteStaffResponse" message="tns:IServiceStaff_DeleteStaff_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceStaff" type="tns:IServiceStaff">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStaff">
      <soap:operation soapAction="http://tempuri.org/IServiceStaff/GetStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStaff">
      <soap:operation soapAction="http://tempuri.org/IServiceStaff/AddStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStaff">
      <soap:operation soapAction="http://tempuri.org/IServiceStaff/UpdateStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStaff">
      <soap:operation soapAction="http://tempuri.org/IServiceStaff/DeleteStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceStaff">
    <wsdl:port name="BasicHttpBinding_IServiceStaff" binding="tns:BasicHttpBinding_IServiceStaff">
      <soap:address location="http://localhost:54856/Services/ServiceStaff.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>