QuanLyQuanCafe/QuanLyCafe/Service References/KetNoiDichVuStaff/ServiceStaff.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54856/Services/ServiceStaff.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/QuanLyQuanCafe.Entity" />
  <xs:element name="GetStaff">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStaffResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QuanLyQuanCafe.Entity" minOccurs="0" name="nv" nillable="true" type="q1:Staff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStaffResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QuanLyQuanCafe.Entity" minOccurs="0" name="nv" nillable="true" type="q2:Staff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStaffResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/QuanLyQuanCafe.Entity" minOccurs="0" name="nv" nillable="true" type="q3:Staff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStaffResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>