QuanLyQuanCafe/QuanLyCafe/Service References/KetNoiDichVuStaff/ServiceStaff3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QuanLyQuanCafe.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QuanLyQuanCafe.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Staff">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sex" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Staff" nillable="true" type="tns:Staff" />
</xs:schema>